# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\0_第三方案\GaitGraph-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
